html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #e5dddd;
}

.title {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 95vh;
  gap: 1em;
}

.phone-camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#phone-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}

.form-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}

.opts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin: 1em;
}

.phone-background {
  padding: 1em 1em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 1em;
}

.screen-container {
  color: #000000;
  background-color: #ffffff;
  margin: 1em;
  height: 22em;
}

.screen-content {
  padding: 1em;
  height: 90%;
  overflow-y: auto;
}

#results-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
}

#check-btn {
  padding: 0.5em 1em;
  border-color: #ffffff;
  border-radius: 1em;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}

#clear-btn {
  padding: 0.5em 1em;
  border-radius: 1em;
  cursor: pointer;
  background-color: #ffffff;
  color: #151515;
  font-size: 1em;
  font-weight: bold;
}

#user-input {
  border-radius: 1em;
  padding: 0.4em;
}
